/* Global */
:root{
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* font-size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* font-weight: ; */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* size */
    --size-border-radius:4px;

    /* animation */
    --animation-duration:300ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}
a{
    text-decoration: none;
    color: var(--color-white)
}
ul{
    list-style: none;
    padding-left:0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}

/* typography */
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin:8px 0px;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin:8px 0px;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin:4px 0px;
}

/* navbar */
#navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding:8px;
    width: 100%;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
    height: 80px;
}
#navbar.navbar--dark{
    background-color: var(--color-pink);
    padding:1px;
}
.navbar_logo{
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar_logo img{
    width: 80px;
    height: 80px;
}

.navbar_menu{
    display:flex;
}

.navbar_menu_item{
    padding: 8px 12px;
    margin:0 4px;
    font-size: var(--font-regular);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover{
    background-color: var(--color-dark-pink);
    border-color: var(--color-white);
}

.navbar__toggle-btn{
    position: absolute;
    right: 32px;
    top:40px;
    font-size: 24px;
    color: var(--color-white);
    display:none

}

/* home */

/* new style will be applied */
/* .home{
    background:url('imgs/home-background.png') center/cover no-repeat;
    padding:40px;
    padding-top: 100px;
    text-align: center;
}
.home_avartar{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white)
}
.home_title, .home_description{
    color: var(--color-white);
}
.home_contact{
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    margin:24px;
    padding:8px 12px;
    border: 2px solid white;
    border-radius: var(--size-border-radius);
    color: var(--color-white);
    transition: all var(--animation-duration) ease-in;
}
.home_contact:hover{
    background-color: orange;
    color: black;
} */

.home_contact{
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    position: relative;
    right:26px;
    margin:24px;
    padding:8px 12px;
    border: 2px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    color: var(--color-orange);
    transition: all var(--animation-duration) ease-in;
}
.home_contact:hover{
    background-color: orange;
    color: black;
}

.home_container{
    width: 100%;
    height: 100vh;
}
.bg1{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 110vh;
    z-index: -2;
}
.me{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 80%;
    top:30px;
    z-index: -1;
}
.send{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    top:530px;
    z-index: -1;
}
.main-title{
    position: absolute;
    transform: translate(50%, 30%);
    width: 100%;
    height: 100vh;

}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
}

.main-title .text1{
    font-size:25px;
    color: black;
}
.main-title .text2{
    font-size:75px;
    font-weight: 600px;
    color: black;
    margin-left: 3px;
}
.main-title .text3{
    font-size:40px;
    color: black;
}
.main-title .text4{
    font-size:23px;
    color: black;
    margin:5px 0;
}
.main-title .text4 .canada{
    color:red;
    font-weight: 600;
}
.main-title .text4 .canada i{
    color:red;
 }
/* this is new style */

/* section common */
.section{
    text-align: center;
    padding:100px;
    margin:auto;
}
.section_container{
    max-width: 1200px;
    margin: auto;
}
/* about */
.about__majors{
    display:flex;
    justify-content: space-between;
    margin: 80px 0;
}
.major_icon{
    width:170px;
    height: 170px;
    font-size: 90px;
    line-height: 170px;
    color: var(--color-blue);
    margin: auto;
    border:1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.image{
    transition: all var(--animation-duration) ease;
}

.major_icon:hover .image{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major_title, .major_description{
    color:var(--color-dark-grey);
}
.major_description{
    font-size: var(--font-small);
}

.job{
    display:flex;
    align-items: center;
}
.job_description{
    margin:0 16px;
    text-align: left;
}

.job__name, .job__period{
    color: var(--color-light-grey);
}
.job img{
    height: 80px;
    width: 140px;
}
.job__name{
    font-size: var(--font-small);
}
.job__period{
    font-size: var(--font-micro);
}

/* skill */
#skills{
    background-color: var(--color-yellow);
}
.skill{
    margin:32px;
}
.skilset{
    display: flex;
    background-color: var(--color-light-grey);
    color:var(--color-light-white);
    margin:20px 0;
}
.skillset_title{
    color: var(--color-white);
}

.skill_description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width:100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value{
    height:3px;
    background-color: var(--color-orange);

}


.skillset_left{
    padding:20px 40px;;
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
}
.skillset_right{
    flex-basis: 40%;
}
.tools{
    background-color: var(--color-grey);
}
.tools,.etc{
    padding:20px;
}

/* work */
.work_categories{
    margin:40px;
}
.category__btn{
    border:1px solid var(--color-dark-white);
    border-radius:var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
   
}
.category__btn.active,.category__btn:hover{
     background-color: var(--color-pink);
     color:var(--color-white)
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top:0;
}

.category__count{
    background-color: orange;
    color: var(--color-white);
    border-radius: 50%;
    width:24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out{
    opacity: 0.6;
    transform: scale(0.96) translateY(40px);
}
.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:280px;
    height:250px;
    margin:2px;
    background-color:var(--color-light-white);
}

.project.invisible{
    display: none;
}
.project__img{
    max-width: 100%;
    max-height: 80%;;
}

.project__description{
    position: absolute;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    transform: translateY(20px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{
    opacity:0.8;
    transform: translateY(0px);
}

.project__description h3{
    color:var(--color-orange)
}

.project__description h3:after{
    content:'';
    display: block;
    position: relative;
    left:50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* testmonial */

#testimonials{
    background-color: var(--color-light-white);
}
.testmonials{
    margin:40px
}

.testmonial{
    display:flex;
    margin: 32px 0;
}
.testmonials__avartar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.testmonials__avartar:nth-child(odd){
    margin-right:40px
}
.testmonials__avartar:nth-child(even){
    margin-right:40px
}
.testmonials__speech-bubble{
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testmonials__speech-bubble p{
    color: var(--color-light-grey);
}
.testmonials__speech-bubble a{
    color: var(--color-pink);
}

/* contact */
#contact{
    background-color: var(--color-pink);
}
.contact_title{
    margin: 32px 0;
}

.contact_title,.contact_email,.contact__right{
    color: var(--color-white);
}

.contact_link{
    font-size: var(--font-large);
    margin:24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact_link .logol:hover{
    transform: scale(1.2);
    color: var(--color-yellow);
}


/* arrow up */
.arrowup{
    position: fixed;
    bottom:50px;
    right: 50px;
    font-size:50px;
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: opacity var(--animation-duration) ease-in;
    pointer-events: none;
}
.arrowup.visible{
    pointer-events: auto;
    opacity: 1;
}
/* for blelow 768px screen width */
@media screen and (max-width:768px){
    :root{
         /* font-size */
    --font-large: 38px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
    }
    body{
    width: 100%;
    overflow-x: hidden;
    }

    .navbar__toggle-btn{
        display: block;
        top:30px;
        font-size: var(--font-medium);
    }
    .home_container .bg1{
        height:100vh;
        width: 100%;
    }
    .home_container .me{
        position: absolute;
        top:20vh;
        width: 100%;
        height: 60vh;
    }
    .home_container .send{
        position: absolute;
        width: 100%;
        top:58vh;
        height: 40vh;
    }
    .home_container .text{
    transform: translate(0,50px);
    }

    .home_container .text1{
        width: 100%;
        font-size:18px;
    }
    .home_container .text2{
        width: 100%;
        font-size:24px;
    }
    .home_container .text3{
        width: 100%;
        font-size:19px;
    }
    .home_container .text4{
        width: 100%;
        font-size:18px;
    }
    .home_contact{
        position: relative;
        top:30px;
        font-size: 13px;
    }
 
    

    .category__btn{
        margin:4px 0;
        width:100%;
    }
    #navbar{
        flex-direction: column;
        align-items:flex-start;
        background-color: var(--color-pink);
        padding:16px;
        position: fixed;
    }
    
    
    #section{
        padding:16px;
        padding-top: 40px;
    }
    .testmonial{
        flex-direction: column;
        text-align: center;
    }
    .testmonials__avartar{
        width: 120px;
        height: 120px;

    }
    .testmonials__avartar:nth-child(even),
    .testmonials__avartar:nth-child(odd){
        margin:0;
        margin-bottom: 8px;
    }
    .testmonials__speech-bubble{
        order:1
    }
    .arrowup{
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        right: 16px;
        bottom: 16px;
    }

    .navbar_menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 0px;
        background-color: var(--color-pink);
      
    }
    .navbar_menu_item{
        margin:0;
    }
    
    .navbar_menu.open{
       display:block
    }
    
    .about__majors{
        display: flex;
        flex-direction: column;
    }
    .major{
        margin-bottom: 30px;
    }
    .skilset{
        flex-direction: column;
    }
    .project{
        flex-grow:1
    }
}